.header {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("/public/assets/images/banner.jpg");
    background-position: top;
    background-size: cover;
    min-height: 150px;

    &__opacity {
        z-index: 1;
        grid-column: 1;
        grid-row: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    &__text {
        z-index: 2;
        padding: 1rem;
        grid-row: 1;
        grid-column: 1;
        // grid-column: 2;
        // background: linear-gradient(to right, transparent, #000);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &__tagline > * {
            color: white;
            font-size: 1rem;
        }

        &__heading > * {
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-tertiary;
        }
    }

    &--home {
        min-height: 500px;
    }
}
