:root {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-background-secondary;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span,
p {
    color: $color-secondary-darker;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

h1 {
    margin: 4rem 0;
    text-align: center;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}
